<h1>Animal Blog</h1>
<ul>
  <% @blog_list.each do |blog| %>
    <li>
      <%= link_to "Title: #{blog.title}  Content: #{blog.content}", animal_path(blog) %>
    </li>
  <% end %>
</ul>
<p><%= link_to 'new blog', new_blog_path %></p>